@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(../../public/assets/Google-sans/font-face.css);
@import url(../../public/assets/Metropolis_Fonts/font-face.css);
@import url(../../public/assets/bebas_neue/font-face.css);

body {
    background: url('../../public/assets/OtakuType.png') no-repeat fixed 100% /cover ;
    font-family: ProductSans;
}
span.retry.bg-green-500{
    background: #fc9700;
}
#container::-webkit-scrollbar{
    display: none;
}